---
const currentYear = new Date().getFullYear()

// https://daisyui.com/components/footer/
---

<div class="bg-base-300">
    <footer class="container mx-auto text-center footer footer-center p-4 text-base-content flex place-content-between">
        <aside>
            <p>&copy {currentYear} Benjamin Rottler</p>
        </aside>
        <nav>
            <a class="link link-hover" href="/imprint">Imprint</a>
        </nav>
    </footer>
    <div></div>
</div>
